.icon-div {
  div {
    display: inline;
    .icon {
      color: black;
      margin-left: 7px;
        &:hover {
          color: skyblue;
          cursor: pointer;
        }
    }
  }
  i.v-icon.v-icon {
    color: black;
    margin-left: 7px;
      &:hover {
        color: skyblue;
        cursor: pointer;
      }
  }
}

.down-icon {
  position: fixed;
  top: 17px;
  left: 17px;
}

.logo {
  cursor: pointer;
  margin-left: 150px;
}

.tab:hover {
  color: skyblue;
  cursor: pointer;
}

.navbar-down__icon {
  position: fixed !important;
  z-index: 1;
}

// 아이콘 수와 관련없이 네브바 로고 중앙 정렬을 위함
.navbar-signup__icon {
  padding-left: 55px;
}