.icon-div {
  div {
    display: inline;
    .icon {
      color: black;
      margin-left: 7px;
        &:hover {
          color: skyblue;
          cursor: pointer;
        }
    }
  }
  i.v-icon.v-icon {
    color: black;
    margin-left: 7px;
      &:hover {
        color: skyblue;
        cursor: pointer;
      }
  }
}

.down-icon {
  position: fixed;
  top: 17px;
  left: 17px;
}

.logo {
  cursor: pointer;
  margin-left: 50px;
}

.tab:hover {
  color: skyblue;
  cursor: pointer;
}    
    
