.new-curation__span {
    font-size: 20px;
    margin-top: 15px;
    margin-right: 20px;
}

.new-thumbnail__div {
    margin-top: 10px;
    font-size: 20px;
}

.new-curation__component {
    width: 500px;
    margin-left: -80px;
    // override
    #dragNdrop-region {
        line-height: 150px;
    }
}
