.curation-make__btn {
    color: white;
    font-size: 20px;
    margin-left: 590px;
    padding: 3px 20px;
    border-radius: 5px;
    margin-top: 10px;
    .create-font{
    font-size: 20px;
    }
}

.curation-error-message {
    color: red;
    font-size: 15px;
    margin-left: 535px;
    height: 25px;
}

.curation-thumbnail__btn {
    margin-right: 640px;
    margin-top: 340px;
}