.select-color__name {
    position: absolute;
    top: 74%;
    right: 75%;
    margin: 0;
    transform: translate(0%, -50%);
  }

.select-color__div {
  height: 700px;
  width: 700px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--color);
  transition: background 300ms linear;
  background-image: radial-gradient(circle at center, rgba(#000, 0) 5%, rgba(#000, .2));
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0 rgba(#000, .2);
  padding-left: 100px;
}

.digits {
  position: relative;
  transform: translateY(var(--y));
  transition: transform 650ms;
  pointer-events: auto;
  border-radius: .3em;
}

.digit {
  padding: 50%;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .3;
  transition: all 300ms;
  &.current {
    border-radius: .3em;
    opacity: 1;
    span {
      font-size: 1.7em;
    }
  }
  span {
    font-size: 1.1em;
  }
}

.channel {
  position: relative;
  width: 3vmax;
  height: 3vmax;
  user-select: none;
  pointer-events: none;
  &:hover:not(.hash) .digits {
    background: rgba(255, 255, 255, .1)
  }
  cursor: -webkit-grab;
  &.digits {
      transition-duration: 120ms;
    }
  &.hash {
    cursor: pointer;
    text-decoration: underline;
  }
}