#comment-card {
  max-width: 850px;
  margin: 0 auto;
  text-align: start;
}

#comment-menu__tab {
  background-color: #FFFFF0;
  min-height: 50px;
  align-items: center;
}

.comment-nickname {
  font-weight: bolder;
  font-size: large;
  text-decoration: none;
  color: black;
  cursor: pointer;
  &:link {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:active {
    color: black;
  }
  &:hover {
    color: skyblue;
  }
}

.comment-content {
  line-height: 1.5;
}

.update-time {
  text-align: right;
  color: darkgray;
}

.comment-row {
  max-width: 865px;
}

.comment-row::-webkit-scrollbar {
  width: 15px;
}

.comment-row::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

.comment-row::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

.comment-row::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

.comment-create__section {
  align-items: right;
  background-color: #FFFFF0;
}

#comment-create__form {
  margin: 0 auto;
  max-width: 850px;
}

#comment-create__content {
  max-width: 800px;
  padding-right: 10px;
}

#comment-create__btn {
  padding: 0;
}

.content-line{
  justify-content: space-between;
}

.editing-frame{
  width: 600px;
  height: 30px;
  border: solid 2px lightgray;
  border-radius: 5px;
}

.profile-img__comment{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}