#DetailImg {
  width: auto; height: auto;
  max-width: 800px;
  max-height: 800px;
}

#DetailImg-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#DetailImage {
  max-width: 850px;
  max-height: 850px;
}
