#DetailImg {
  width: auto; height: auto;
  max-width: 1000px;
  max-height: 1000px;
  object-fit: scale-down;
}

#DetailImg-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#DetailImage {
  max-width: 1050px;
  max-height: 1050px;
  object-fit: scale-down;
}
