#drawing-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


#drawing-canvas {
  width: 700px;
  height: 700px;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 6px rgba(50, 50, 93,  0.11);

	// &:hover + .cursor {
	// 	opacity: 1;
	// }
	
	// &:active + .cursor {
	// 	border-color: rgb(60, 60, 60);
	// }
}

.controls {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas-colors {
  flex-wrap: wrap;
}

#add-color__box {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  
}
.add-color {
  margin-top: 5px;
  margin-bottom: 5px;
}

#current-color__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px lightgray;
  border-radius: 15px;
  #current-color {
    margin-bottom: 12px;
  }
}

#select-color__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px lightgray;
  border-radius: 15px;
  #select-color {
  }
}

.control-color__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 3px lightgray;
  border-radius: 15px;
  #control-color {
  
  }
}

.controls .controls__btns{
  margin-bottom: 30px;
}

.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: rgb(247, 247, 247);
  padding: 5px 0px;
  margin: 5px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

#addBtn {
  font-size: 12px;
  text-transform: uppercase;
  &:hover {
    color: skyblue;
  }
}

.controls__btns button:active{
  transform: scale(0.95);
}

.controls .controls__colors {
  display: flex;
}

.controls__colors .controls__color {
  margin-left: 2px;
  margin-right: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.controls .controls__range {
  margin-bottom: 30px;
}

.controls__colors .verte__guide {
  width: 50px;
  height: 50px;
}

input[type=color] {
  -webkit-appearance: none;
  background: transparent;
  border-radius: 5px;
  outline: none;
  width: 50px;
  height: 50px;
}
input[type=color]::-webkit-color-swatch-wrapper {
  padding: 1px 1px;
  height: 50px;
  width: 50px;
  
}
input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}