.v-card {
  overflow: hidden;
  .main-image__div {
    display: inline;
    position: relative;
    .bottom-div{
      position: absolute;
      top: 500%;
      z-index: 2;
      background-color: white;
      width: 100%;
        img {
          width: 40px;
          height: 40px;
          border-radius: 15px;
          object-fit: contain;
          cursor: pointer;
        }
        i.v-icon.v-icon {
          color: rgb(230, 129, 62);
        }
    }
    &:hover .bottom-div{
      position: absolute;
      top: -400%;
      transition: all 1s;
    }
    img {
      width: 400px;
      height: 375px;
      object-fit: contain;
      background-color: floralwhite;
    }
  }
}