.posting-title {
  line-height: 40px;
  min-height: 60px;
  padding: 20px 10px 20px 10px;
}

.posting-content {
  padding: 20px 20px 0 20px;
}

.button-group {
  margin-top: 40px;
  text-align: right;
}
