.notify-title{
  margin-top: 30px;
}

.notify-dropdown {
  width: 200px;
  position: absolute;
  left: 150px;
  bottom: 45px;
  font-weight: 700;
}

.notify-content {
  margin-bottom: 30px;
}

.notify-content__p {
  margin-left: 10px;
}

.notify-time__p {
  margin-left: 10px;
}

.notify-content__icon {
  left: 13px;
  bottom: 13px;
}

.notify-square__icon {
  left: 10px;
  bottom: 7px;
}

.notify-card {
  i.v-icon.v-icon {
    color: rgb(230, 129, 62);
  }
}

.notify-content__div {
  i.v-icon.v-icon {
    color: rgb(230, 129, 62);
  }
}