.profile-followings {
  .list {
    .profile-image {
      padding: 0;
      .v-image {
        width: 60px;
        height: 60px;
        border-radius: 50% 50% 50% 50%;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
        &:hover {
          cursor: pointer;
        }
      }
    }
    .nickname {
      h2 {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .follow-button {
      .v-btn {
        width: 60px;
      }
    }
  }
}