.profile-container {
  background-color: #F4F2DA;
  border: 0.5rem double #857B1A;
  margin-bottom: 20px;
  .profile-image__loader {
    .v-image {
      width: 140px;
      border-radius: 50% 50% 50% 50%;
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 40px 4px skyblue
      }
    }
    .v-input {
      display: none;
    }
  }
}