.search-input__div {
  width: 300px;
  margin-top: 30px;
  .search-page__icon {
    margin-right: 20px;
  } 
}

.category-div {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.category-grid {
  margin: 20px auto;
  width: 1200px;
}

